*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../images/fondoatras8.webp") -30px -40px;
    background-size: cover;
    background-attachment: fixed;
     
}


.main{
    width: 1200px;  /*ancho de la página*/
    margin: 20px auto;
    border: 2px solid black;
    box-shadow: 3px 3px 3px #333;
    border-radius: 10px;
    background: black;
}


.imgprincipal{
    width: 1010px;
    margin: 30px -80px;
    border-radius: 20px; 
}


#fondo-header{
    margin: 0 0 0 170px;
}

/* ------------------------- MENÚ ------------------------- */


nav ul{
    width: 360px;
    margin: 0 auto;
}

nav ul li{
    display: inline; /*Pone todos los elementos en la misma línea*/
    list-style: none;   /*Quita las viñetas de la lista*/
}

nav ul li a{
    text-decoration: none;  /*Quita el subrayado de los enlaces*/
    color:rgb(63, 28, 28); 
    background:#FFF;
    line-height: 80px;
    padding: 7px;
    margin:0 20px;
    border-radius: 5px;
    box-shadow:2px 2px 2px #333; /*Añade sombra al contenedor*/
    font-weight: bold;
}

nav ul li a:hover{   /*Cambia el contenedor al pasar el mouse por encima*/
    color: #FFF;
    background: #000;
    box-shadow: 0 0 0 #000;
}

section{
    padding:0 30px 20px;
}

section div{
    text-align: center;
}

section div img{
    width: 500px; /*ancho de imagen*/
    margin: 20px;
}


h1{
    font-size: 50px;
    margin: 91px 79px;
    color: white;
    text-shadow: 3px 3px 3px white;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

h5{ 
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color:white;
}

.clear{
    clear: both;
}


/* ------------------------- CLASES ------------------------- */







/* ------------------------- INDEX ------------------------- */

.registroindex{
    margin: 0 0 0 1090px;
}


.imgportada{
    width: 600px;
    height: auto;
}

.centrado{
    margin:10px;
   color: beige;
}



/* ------------------------- Registro ------------------------- */

.textregistro{
    color: beige;
    text-align: center;
    margin: 50px;
}

.textregistro a{
    margin: 50px;
    border: none;
    border-bottom: 1px solid #FFF;
}


div ul a{
    text-decoration: none;  /*Quita el subrayado de los enlaces*/
    color:rgb(63, 28, 28); 
    background:#FFF;
    line-height: 80px;
    padding: 7px;
    margin:0 20px;
    border-radius: 5px;
    box-shadow:2px 2px 2px #333; /*Añade sombra al contenedor*/
    font-weight: bold;
}




/*---------------- REGISTRO ----------------------*/

.dicografiacenter{
    text-align: center;
}

.registertext{
    text-align: left;
    margin: 10% 50px 10px ;
}

.imagenregistro{
    float: center;
    width: 30%;
    margin: 0 0px 0px 80px;
}

.imgregistro{
    float: left;
    width: 30%;
    margin: 0 70px 30px 160px;
}

.registroform{
    width: 500px;
    height: 40px;
}

.butomregistertext{
    width: 450px;
    height: 40px;
    margin: 0 0 0 -70px;
    color: white;
    background-color: red;
    border-style: none;
}

.butomregistertext{
    box-shadow: #FFF;
    font-weight: bold;
}

.checkbox{
    float: left;
    margin: 2px 0 0 -230px ;
    width: 500px;
}
.mostrarcontratext{
    float: right;
    margin: 0 0 0 -10px;
    text-align: right ;
}



/*-------------------------  DISCOGRAFIA   ------------------------------*/


.disc img{
    width: 350px;
}

.disc li{
    margin: 0px 65px 20px 47px;
    text-align: center;
}

.dicografiacenter h2{
    text-align: center;
    margin: 10px  10px 0 -70px;
}

.dicografiacenter{
    margin: 0 0 0 90px  ;
    
}

.temas{
    float: left;
    width: 180px  10px; 
}

.temas a{
    text-decoration: none;
    color: white;
}

.temas a:hover{
    color: white;
}
/*--------------- HISTORY  ----------------*/

.TextHistoria p{
    text-align: justify;
    color: white;
}


.mp4{
    float: right;
    margin: 30px 5px 80px; 
 
}

.imagenflotante{
    float: left;
    width: 50%;
    margin-top: 10px;
}

.ParrF{
    float: left;
    width: 50%;
    margin-top: 100px;
}

.parrafomp4{
    text-align: justify;
    margin: 100px 5px 80px; 
    width: 150px  10px; 
   
}




/*--------------- FOOTER  ----------------*/


footer{   
    color: #FFF;
    text-align: center;
    padding: 20px;
}

span{
    font-weight: bold;
}

